

:root{
    --colorOscuro: #433d3c;
    --colorVioleta: #944e6c;
    --colorRosa: #e9c496;
    --colorVerde: #83a95c;
}




.sesion {
    background-color: var(--colorVioleta);
}

.pagos{
    background-color: var(--colorRosa);
}

.lista{
    background-color: var(--colorVerde)
}

.lista button{
    height: 40px;
}